<!doctype html>
<title> Keyword based search </title>
<div> 
    <form action="{{ url_for('expert_query') }}" method=post>
        <div>
           <h2>{{header}}</h2>
            <b>Search</b><input type="text" name="text" value=""><br><br>
        </div>
        <div>
            <input type="submit" value="Submit"><br><br>
        </div>
        <div>
            <input type="radio" name="category" value="feedback" checked="checked"><b>Feedback</b>
            <input type="radio" name="category" value="synonyms"><b>Synonyms</b><br><br>
        </div>
        <div>
    		<a href="{{ url_for('show_gathered_feedback') }}">show gathered feedback</a>
    		<a href="{{ url_for('flush_feedback') }}">flush feedback</a><br>
    		<a href="{{ url_for('show_synonyms')}}">show synonyms</a>
    		<a href="{{ url_for('flush_synonyms') }}">flush synonyms</a><br>
		</div>

    </form>
</div>
